@model IEnumerable<bibliotecaAngelRosaldo.Models.Domain.Categoria>
@{
    ViewData["Title"] = "Categorías";
    Layout = "_LayoutDashboard";

}

<div class="container mt-4">
    <h1 class="display-4 text-center">Categorías</h1>
    <div class="mb-3">
        <a href="@Url.Action("Crear", "Categoria")" class="btn btn-primary">Crear Nueva Categoría</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr>
                    <td>@categoria.Nombre</td>
                    <td>
                        <a href="@Url.Action("Editar", "Categoria", new { id = categoria.PkCategoria })" class="btn btn-warning">Editar</a>
                        <form asp-action="Eliminar" asp-controller="Categoria" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@categoria.PkCategoria" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>